{{ form_start(form) }}

<div class="form-group col-8">
    {{ form_row(form.title, {'label': 'Titre', 'attr': {'placeholder': 'Titre de la figure...'}}) }}
    {{ form_row(form.description, {'label': 'Description', 'attr': {'placeholder': 'Description de la figure...'}}) }}
    {{ form_row(form.category) }}
</div>

<button type="submit" class="btn btn-success">Enregistrer</button>

{{ form_end(form) }}