{{ form_start(form) }}

<div class="input-field col s12 m6 l6">
    {{ form_label(form.content, 'Commentaire :') }}
    {{ form_widget(form.content) }}
    <span class="error">{{ form_errors(form.content) }}</span>
</div>

<div class="input-field col s12 m12 l12">
    <input type="submit" name="" value="Enregistrer" class="btn btn-primary">
</div>

{{ form_end(form) }}