{% extends 'base.html.twig' %}

{% block title %}La page des figures{% endblock %}

{% block body %}
    <style>
        .trick-show, .trick-comment-add, .trick-comment-show { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    {#if user id == session id user#}

    <div class="trick-show">
        <h1>La figure ! ✅</h1>
        {% if trick.user.id == app.token.user.id %}
            <a href="{{ path('trick_edit', {'id': trick.id}) }}">Modifier la figure</a>
        {% endif %}
        <h2>{{ trick.title }}</h2>
        <p>{{ trick.description }}</p>
        <span class="date">{{ trick.createdAt|date('d/m/Y') }}</span>
        <br><br>
        {% if trick.user.id == app.token.user.id %}
            <a href="{{ path('trick_remove', {'id': trick.id}) }}">Supprimer la figure</a>
        {% endif %}

    </div>

    <div class="trick-comment-show">
        <h2>Les commentaires :</h2>
        {% for comment in trick.comments %}
        <p>{{ comment.user.username }}</p>
        <p>{{ comment.content }}</p>
        {% else %}
        <div class="trick-comment-show">
            <p>Il n'y a pas encore de commentaire sur cette figure.</p>
        </div>
        {% endfor %}
    </div>

    <div class="trick-comment-add">
        {% if app.user %}
            {% include "trick/form/comment_form.html.twig" %}
        {% endif %}
    </div>
{% endblock %}
